{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}
<form class="mt-3" action="" method="POST" id="salesForm">
    {% csrf_token %}
   
    <div class="d-flex mb-3">
      <div class="d-flex mb-1">
        <input type="hidden" id="productSaleDate" value="">
      </div>
      <span id="purchaseError" class="error-messages"></span>
      <div class="d-flex">
        <label for="id_sales_return_no" class="me-1">Sales Return No :</label>

        <input type="text" class="purchase-vNo" name="sales_return_no" id="id_sales_return_no" value="" maxlength="255" required>

      </div>

      <span id="SupplierError" class="error-messages"></span>

      <div class="d-flex ms-2">
        <label for="id_sales_voucher_master" class="me-1">Sales No :</label>
        {% if master_form.instance.id %}
        <input type="text" class="purchase-vNo me-1" name="sales_voucher_master" id="id_sales_voucher_master"
          value="" maxlength="255" required>
          {% elif not master_form.instance.id %}
          <input type="text" class="purchase-vNo me-1" name="sales_voucher_master" id="id_sales_voucher_master"
          value="" maxlength="255" required>
          {% endif %}
      </div>
      <div class="d-flex ms-2">
        <label for="id_ledger_type" class="me-1">ledger Type :</label>
        <input type="text" class="purchase-amount" name="ledger_type" id="id_ledger_type"
          value="{{master_form.instance.ledger_type}}" maxlength="50" default='Sales return'
          placeholder="Sales" readonly>
      </div>
      <div class="ms-2">
        <label for="id_selected_warehouse" class="me-2">Warehouse :</label>
        <input type="hidden" class="purchase-amount" name="selected_warehouse" required id="id_selected_warehouse" value="{{master_form.instance.selected_warehouse.id}}">
        <input type="text" class="purchase-amount" name="selected_warehouse_name" required id="id_selected_warehouse_Name" value="{{master_form.instance.selected_warehouse.warehouse_name_finished}}" readonly>
        
      </div>
      <span id="purchaseError" class="error-messages"></span>
      <div class="d-flex ms-2">
        <label for="id_party_name" class="me-3">Party A/C Name :</label>
        <input type="hidden" class="item-selects" name="party_name"  id="id_party_name" value="{{master_form.instance.party_name.id}}">
        <input type="text" class="item-selects" name="party_name_value" required id="id_party_name_value" value="{{master_form.instance.party_name.name}}" readonly>
      </div>
    
    </div>
  
    <div class="row">
        <div class="col-lg-7">
            <div class="mb-2">
                <label for="inwordSerialNo" class="fw-bold me-2">Scan :</label>
                <input type="text" name="scanned_serial_number" class="item-selects ms-3" id="inwordSerialNo">
                <label for="id_bin_Name" class="fw-bold ms-2 me-3">Bin :</label>
                <select  class="item-selects ms-3" name="product_bin" id="id_bin_Name">
                </select>
            </div>
            <div class="d-flex ">
                <div class="mb-2">
                    <label for="id_manualSerialNo" class="fw-bold">M-Scan :</label>
                    <input type="text" name="manual_serial_number" class="item-selects" id="id_manualSerialNo">
                </div>
                <span id="responseMessage" class="ms-1 mb-1 fw-bold"></span>
            </div>
        </div>
        <div class="col-lg-5" style="display:none" id="salesReturnList">
            <table class="table table-striped table-hover table-bordered" id="stockTransferInstanceTable">
                <thead class="name_absolute">
                    <tr>
                        <th>Name</th>
                        <th>SKU</th>
                        <th>Color</th>
                        <th>IMG</th>
                    </tr>
                </thead>
                <tbody class="mainTableList" >
                   
                    <tr>
                        <td><input name="product_name" type="text" class="productShadeCutting_input bg-transparent border-0" id="id_product" value="" readonly></td>
                        <td><input name="product_sku" type="number" class="productorder_input"  id="id_product_sku" value="" readonly></td>
                        <td><input name="product_color" type="text" class="productorder_input"  id="id_product_color" value="" readonly></td>
                        <td>
                            <img id="productImgPreview" name="product_img" src="" alt="img" style="width: 25px; object-fit:contain;">
                       </td>
                    
                        
                    </tr>
                 
                </tbody>
            </table>
                <button  class="newProductCreateBtn" name="save" value="Save" id="stockTarnsferBin">Submit</button>
           
        </div>
        
    </div>
    <div>
        <div class="stock_responsive">
            <table class="table table-striped table-hover table-bordered " id="inwordDateTable">
                <thead class="name_absolute sticky-top">
                    <tr class="table-primary">
                        <th>No</th>
                        <th>Ref No</th>
                        <th>Model Name</th>
                        <th>Product SKU</th>
                        <th>Color</th>
                        <th>Image</th>
                        <th>Serial No</th>
                        <th>Scan Qty</th>
                        <th>Bin NO</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="mainTableList table-primary" style="max-height: 350px; overflow-y: auto;">
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>    
            </table>
        </div>
        <button type="submit" class="ms-3 newProductCreateBtn" id="parentFormClick">Generate</button>
    </div>

    <div class="mt-2">
        <table class="table table-striped table-hover table-bordered" id="sales_retrun_outwardTable">
            <thead class="name_absolute">
                <tr>
                    <th>Outward No:</th>
                    <th>Total Qty:</th>
                </tr>
                <tr>
                    <!-- <th>No</th> -->
                    <th>Img</th>
                    <th>Ref No</th>
                    <th>Model Name</th>
                    <th>Color</th>
                    <th>Sku</th>
                    <th>Serial No</th>
                    <th>Bin No</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody class="mainTableList" >
                <tr>
                    
                </tr>
            </tbody>
            
        </table>
    </div>

<script>

document.addEventListener('DOMContentLoaded', function () {
       const inwardSearch = document.getElementById('inwordSerialNo');
       const manualSearch = document.getElementById('id_manualSerialNo');
       const salesReturnTable = document.getElementById('salesReturnList');
       const responseMessage = $('#responseMessage');
    
       const selectBin = document.getElementById('id_bin_Name')
  
      
       inwardSearch.focus();

       inwardSearch.addEventListener('input', function () {
           inwardSearch.style.color = 'white';
             responseMessage.html(''); 
           if (inwardSearch.value) {
            salesReturnTable.style.display = "block";
               manualSearch.value = ''; 
               inwardSearch.addEventListener('keydown',function(event){
               
                   
               })
            }
        });

       manualSearch.addEventListener('input', function () {
           
           responseMessage.html(''); 
           if (manualSearch.value) {
            salesReturnTable.style.display = "block";
               inwardSearch.value = ''; 

              
           }
      
       });

   });
   $(document).ready(function(){

    $('#id_sales_voucher_master').on('blur',function(){
        var saleNo = $(this).val();
        console.log('saleNo',saleNo)
        $.ajax({
            url: '/otwarddataforsalereturnajax/',
           type: 'GET',
           data: { 
               'saleNo':saleNo,
           },
           success: function(response){
    
            var salesOutward = $('#sales_retrun_outwardTable .mainTableList');
            salesOutward.empty(); // Clear previous data
            var partyName = $("#id_party_name_value").val(response.list_to_send_for_sales_voucher_data[0].party_name)
            var warehouseName = $('#id_selected_warehouse_Name').val(response.list_to_send_for_sales_voucher_data[0].warehouse)
          
        
        
            response.list_to_sent.forEach(item => {
                var newRow = $(`
                    <tr>
                        <td><img src=${item.PProduct_image} alt="img" width="25px"></td>
                         <td><span class="modelName">${item.Product_Refrence_ID || "N/A"}</span></td>
                        <td><span class="modelName">${item.Model_Name || "N/A"}</span></td>
                        <td><span class="color">${item.PProduct_color || "N/A"}</span></td>
                          <td><span class="sku">${item.PProduct_SKU || "N/A"}</span></td>
                      <td><span class="balanceqty text-center">${item.unique_serial_no || "N/A"}</span></td> 
                        <td><span class="balanceqty text-center">${item.Bin_Name || "N/A"}</span></td> 
                        <td><span class="qty text-center">${item.Quantity || 0}</span></td>
                    </tr>
                `);
                salesOutward.append(newRow);
            });
           },
           error:function(error){
            console.log(error)
           }
        })
    })

    
       let debounceTimeout;
   
       // Handle input in inwordSerialNo
       $('#inwordSerialNo').on('input', function () {
           clearTimeout(debounceTimeout);
   
           // Clear id_manualSerialNo
           const manual_serial = $('#id_manualSerialNo');
           manual_serial.val('');
           
           const responseMessage = $('#responseMessage');
           responseMessage.html(''); // Clear any previous messages

           const inputField = $(this);
   
           debounceTimeout = setTimeout(async function () {
               let inputUrl = inputField.val();
               let serialNo = '';
   
               // Extract serial number
               if (inputUrl.includes('=')) {
                   serialNo = inputUrl.split('=').pop();
                   inputField.val(serialNo);
                   inputField.css('color', 'black');
               }
   
               if (serialNo) {
                   try {
                       const response = await sendSerialNumber(serialNo);
                       $('#responseMessage').html('<span class="text-success">' + response.message + '</span>');
                   } catch (error) {
                    //    const errorMessage = error.responseJSON?.message || 'An unexpected error occurred.';
                    //    $('#responseMessage').html('<span class="text-danger">' + errorMessage + '</span>');
                   }
               }
           }, 500); // Debounce delay
       });
   
       // Handle input in id_manualSerialNo
       $('#id_manualSerialNo').on('input', function () {
           // Clear inwordSerialNo
           $('#inwordSerialNo').val('');
   
           const responseMessage = $('#responseMessage');
           responseMessage.html(''); // Clear any previous messages

       });
   
       // Handle click on the normal button
       $('#id_manualSerialNo').on('keydown', async function (event) {
            if(event.key === 'Enter'){
                event.preventDefault();
                const manualSerialNo = $('#id_manualSerialNo').val();
                const responseMessage = $('#responseMessage'); // Response message container
                    if (manualSerialNo) {
                        try {
                            const response = await sendSerialNumber(manualSerialNo);
                            
                            $('#responseMessage').html('<span class="text-success">' + response.message + '</span>');
                           
                        } catch (error) {
                            // const errorMessage = error.responseJSON?.message || 'An unexpected error occurred.';
                            // $('#responseMessage').html('<span class="text-danger">' + errorMessage + '</span>');
                            $('#id_manualSerialNo').val('');
                            $('#id_product').val('');
                            $('#id_product_sku').val('');
                            $('#id_product_color').val('');
                         
                        }
                    } else {
                        $('#responseMessage').html('<span class="text-danger">Please enter a Manual Serial Number.</span>');
                        $('#id_manualSerialNo').val('');
                        $('#id_product').val('');
                        $('#id_product_sku').val('');
                        $('#id_product_color').val('');
                    }
                    
            }
           

       });
   
       // Function to send serial number to the backend
        async function sendSerialNumber(serialNo) {
            console.log('serialNo',serialNo)
            var saleNo = $('#id_sales_voucher_master').val()
            try {
                 const response = await $.ajax({
                     url: '/processserialnoforreturnsalesajax/',
                     type: 'GET',
                     data: { 
                         serialNo: serialNo,
                         saleNo: saleNo
                     },
                 });
                 // Extract product SKU from response
                
                
                $('#id_product').val(response.model_name);
                $('#id_product_sku').val(response.product_sku);
                $('#id_product_color').val(response.product_color);
                $('#productImgPreview').attr('src', response.product_image);

                const binSelect = $('#id_bin_Name');  // Container for displaying the bin list
         
                binSelect.empty(); // Clear existing options

                response.bin_to_dict.forEach(bin => {
                    binSelect.append(new Option(`${bin.bin_name} - ${bin.bin_size} - ${bin.products_in_bin}`, bin.bin_id));
                });
    
                return response;
            } catch (error) {
                console.error('Error:', error);
                return null; // Optionally return null or handle the error further
            }
        }


        $('#stockTarnsferBin').on('click',function(){
            var binNo = $('#id_bin_Name').val();
            var productSku = $('#id_product_sku').val();

            console.log('binNo',binNo)
            console.log('productSku',productSku)
            $.ajax({
                url: '//',
                type: 'GET',
                data: { 
                    productSku: productSku,
                    binNo: binNo
                },
                success:function(response){
                    console.log(response)
                },
                error:function(error){
                    console.log(error)
                }
            })
        })
   })
</script>
{% endblock body %}