{% extends 'product/base.html' %} 
{% load static %} 
{% block body %}
<div class="mt-2">

  <div class="mt-2 table-responsives">
    <table class="table table-striped table-hover table-bordered" style="width:100%;" id="salseTable">
      <thead class="name_absolute sticky-top">
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Outward No</th>
          <th>SalesMan</th>
          <th>Voucher Type</th>
          <th>Sale/Sale Return No</th>
          <th>Party A/c Name</th>
          <th>Total Qty</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>View</th>
          <th>Print</th>

        </tr>
      </thead>

      <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
        {% for sale in final_list %}
        {% if sale.ledger_type == 'sales' %}
        <tr class="table-success">
          <td class="rowno"></td>
          <td>{{sale.created_date|date:"d/m/y, g:i a"}}</td>
          <td class="text-center"><a href="{% url 'outward-scan-product-update' sale.outward_no__id %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white" style="background-color: #ff8f10; text-decoration: none;">{{sale.outward_no__outward_no}}</a></td>
          <td><a href="{% url 'sales-voucher-view-sort-with-salesman' sale.salesman__id %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white" style="background-color: #3cacf7; text-decoration: none;">{{sale.salesman__salesman_name}}</a></td>
          <td>{{sale.ledger_type}}</td>
          <td class="text-center"><a href="{% url 'sales-voucher-create-update-for-warehouse' sale.id 'VIEW' %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white" style="background-color: #ff10cb; text-decoration: none;">{{sale.sale_no}}</a></td>
          <td><a href="{% url 'sales-voucher-view-sort-with-partyname' sale.party_name__id %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white" style="background-color: #f55050; text-decoration: none;">{{sale.party_name__name}}</a></td>
          <td class="text-center">{{sale.total_qty}}</td>
          <td class="text-center fw-bold">{{sale.grand_total}}</td>
          <td class="text-center">0</td>
          <td><a href="{% url 'sales-voucher-create-update-for-warehouse' sale.id 'VIEW' %}"><i class="fa-solid fa-eye px-1"></i></a></td>
          <td></td>
        </tr>
        {% else %}
        <tr class="table-danger">
          <td class="rowno"></td>
          <td>{{sale.created_date|date:"d/m/y, g:i a"}}</td>
          <td></td>
          <td><a href="{% url 'sales-voucher-view-sort-with-salesman' sale.salesman__id %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white"style="background-color: #3cacf7; text-decoration: none;">{{sale.salesman__salesman_name}}</a></td>
          <td>{{sale.ledger_type}}</td>
          <td class="text-center"><a href="{% url 'sales-return-voucher-create-update' sale.sales_voucher_master__id sale.sales_return_inward_instance__id sale.id 'view' %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white" style="background-color: #ff10cb; text-decoration: none;">{{sale.sales_return_inward_instance__sales_return_no }}</a></td>
          <td><a href="{% url 'sales-voucher-view-sort-with-partyname' sale.party_name__id %}" class="border-0 rounded mb-1 px-2 py-1 d-inline-block text-white" style="background-color: #f55050; text-decoration: none;">{{sale.party_name__name}}</a></td>
          <td class="text-center">{{sale.total_qty}}</td>
          <td class="text-center">0</td>
          <td class="text-center fw-bold">{{sale.grand_total}}</td>
          <td><a href="{% url 'sales-return-voucher-create-update' sale.sales_voucher_master__id sale.sales_return_inward_instance__id sale.id 'view' %}"><i class="fa-solid fa-eye px-1"></i></a></td>
          <td></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>
          
<script>
    document.addEventListener('DOMContentLoaded', function() {

      var tbody = document.querySelectorAll('#salseTable .mainTableList tr');
      var rows = 0
      tbody.forEach(function(row){
        var rowno = row.querySelector('.rowno');
        rowno.textContent = rows + 1;
        rows++
      })
    
    });
</script>

{% endblock body %}