{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}

<label class="fw-bold ms-3">Cutting V No :</label><span class="text-danger ms-2 fw-bold">{{cutting_order_instance.raw_material_cutting_id}}</span>
<label class="fw-bold ms-5">Total QTY :</label><span class="text-danger ms-2 fw-bold">{{cutting_order_instance.processed_qty}}</span>

<form method="POST" autocomplete="off" id="purchaseOderCutting">
    {% csrf_token %}

    <h2 class="mb-3 mt-3">Cutting</h2>
    <div class="row">
        <div class="col-lg-7">
            <table class="table table-striped table-hover table-bordered tables" id="cuttingTable">
                <thead class="name_absolute text-nowrap">
                    <tr>
                        <th>Product Sku</th>
                        <th>Color</th>
                        <th class="text-success">Cutting Qty</th>
                        <th class="text-danger">Balance pcs</th>
                        <th class="text-primary">Approved pcs <input type="checkbox" class="checkAll ms-2" id="id_checkAll" name="checkAll"></th>
                    </tr>
                </thead>
                <tbody class="mainTableList">
                    {{formset.management_form}}
                    {% for form in formset %}
                    {{form.id}}
                    <tr class="text-nowrap">
                        <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                        <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                        <td><input type="number" class="productorderrawqty-input text-center text-success" name="{{form.prefix}}-cutting_quantity" value="{{form.instance.cutting_quantity}}" id="id_{{form.prefix}}-cutting_quantity" readonly></td>
                        <td><input type="number" class="productorderrawqty-input text-center text-danger" name="{{form.prefix}}-balance_pcs" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly>
                         <input type="hidden" class="productorderqty-input" name="{{form.prefix}}-updateBlance_pcs" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-updateBlance_pcs"></td>
                        <td><input type="hidden"  class="productorderrawqty-input approvedReadonly" value="{{form.instance.approved_pcs}}" readonly>
                            <input  class="productorderrawqty-input approvedReadonlyhidden text-primary" value="{{form.instance.approved_pcs}}" readonly>
                            <input type="hidden" class="productorderqty-input" name="{{form.prefix}}-approved_pcs" value="{{form.instance.approved_pcs}}" id="id_{{form.prefix}}-approved_pcs">
                            <input type="number" class="productorderqty-input text-primary" name="{{form.prefix}}-approved_pcs_Value" value="" id="id_{{form.prefix}}-approved_pcs_Value">
                        
                        </td>
                      
                        <input type="hidden" class="productorderqty-input" name="{{form.prefix}}-approved_pcs_diffrence" value="{{form.instance.approved_pcs_diffrence}}" id="id_{{form.prefix}}-approved_pcs_diffrence">
                        <input type="hidden" class="productorderqty-input" name="{{form.prefix}}-currentApproved_pcs" value="" id="id_{{form.prefix}}-currentApproved_pcs">
                    </tr>
                    {% endfor %}
                    <tr class="fw-bold text-danger">
                        <td colspan="2">Total</td>
                        <td class="text-center"><input type="number" class="text-success  productorderrawqty-input" id="TotalCutting" value="0" readonly></td>
                        <td class="text-center"><input type="number" class="text-danger  productorderrawqty-input" id="TotalBalance" value="0" readonly></td>
                        <td><input type="number" class="text-primary  productorderrawqty-input" id="TotalApprove" value="0" readonly>
                            <input type="number" class="text-primary  productorderrawqty-input" id="TotalApproveActual" value="0" readonly>
                        </td>
                        
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
   
<button type="submit" name="" id="cuttingOrderApproved" class="create-btn mt-3 mx-3">Submit</button>
</form>
<div>
    <table class="table table-striped table-hover table-bordered" id="approvalDataLog" >
      <thead class="name_absolute sticky-top">
        <tr>
            <th>Date</th>
            <th>Approved By</th>
            <th class="text-primary">Appr QTY</th>
            <th class="text-success">LWO QTY</th>
            <th class="text-danger">Bal QTY = <span id="tBalQty"></span> LWO</th>
        </tr>
      </thead>
      <tbody class="mainTableList" >
          
      </tbody>
      <tbody class="mainTableList" id="totalApproved">
        <tr>
          <td colspan="2" class="fw-bold">Total</td>
          <td class="text-center"><span class="fw-bold text-primary" id="tApprovedQty">0</span></td>
          <td class="text-center"><span class="fw-bold text-success" id="tLwoQty">0</span></td>
          <td class="text-center"><span class="fw-bold text-danger" id="tBalanceQty">0</span></td>
        </tr>
      </tbody>
    </table>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    var checkAll = document.getElementById('id_checkAll');
    
    // Event listener for the "Check All" checkbox
    checkAll.addEventListener('change', checkboxCheckAll);

    function checkboxCheckAll() {
        var checkboxes = document.querySelectorAll('[name$="-approved_pcs_Value"]');
        
        checkboxes.forEach(element => {
            var rows = element.closest('tr');
            var balanceQty = rows.querySelector('[name$="-balance_pcs"]');
            var cuttingQty = rows.querySelector('[name$="-cutting_quantity"]');
            var approvePcs = rows.querySelector('[name$="-approved_pcs_Value"]');
            var approveValue = parseInt(rows.querySelector('.approvedReadonlyhidden').value) || 0;
            var updateBalance = parseInt(rows.querySelector('[name$= "-updateBlance_pcs"]').value) || 0;
            var balanceValue = parseInt(balanceQty.value) || 0;
            var cuttingValue = parseInt(cuttingQty.value) || 0;

            if(approveValue > 0){
                if (checkAll.checked) {
                   
                    element.value = updateBalance;
                    approvePcs.value = updateBalance;
                    balanceQty.value = 0;
                } else {
                    element.value = 0;
                    approvePcs.value = 0;
                    balanceQty.value = updateBalance;
                }
            }else{
                if (checkAll.checked) {
                    approvePcs.value = cuttingValue;
                    element.value = cuttingValue;
                    balanceQty.value = 0;
                } else {
                    element.value = 0;
                    approvePcs.value = 0;
                    balanceQty.value = cuttingValue;
                }
            }
            
        });
    }
});

function quantityCheck() {
    totalCutting = 0;
    totalapprove = 0;
    totalbalance = 0;
    totalActual = 0;
  
    var approved = document.querySelectorAll('[name$= "-approved_pcs_Value"]');

    approved.forEach(element => {
        var row = element.closest('tr');
        var approvedValues = parseInt(element.value) || 0; // Default to 0 if NaN
        var cuttingApprovedValue = parseInt(row.querySelector('[name$= "-cutting_quantity"]').value) || 0;
        var currentApproveValues = parseInt(row.querySelector('[name$= "-currentApproved_pcs"]').value) || 0;
        var balanceValueKey = parseInt(row.querySelector('[name$= "-balance_pcs"]').value) || 0;
        var approvedReadOnlyValue = parseInt(row.querySelector('.approvedReadonlyhidden').value) || 0;
        var updateBalanceValues = parseInt(row.querySelector('[name$= "-updateBlance_pcs"]').value) || 0;


        if (!isNaN(approvedReadOnlyValue) && !isNaN(approvedValues)) {

            var finalApprove = approvedValues + approvedReadOnlyValue;
      
            row.querySelector('[name$= "-approved_pcs"]').value = finalApprove;
            row.querySelector('.approvedReadonly').value = finalApprove;
        }
        
            
            if(approvedReadOnlyValue > 0){
              
                if (!isNaN(approvedValues) && !isNaN(updateBalanceValues)) {

                    if (updateBalanceValues < approvedValues) {
                        row.querySelector('[name$= "-approved_pcs_Value"]').value = 0;
                    }
                    if(updateBalanceValues=== 0){
                   
                   element.setAttribute('readonly', true);
                   }else{
                    element.removeAttribute('readonly');
                   }
                    var balanceApprovedValue = updateBalanceValues - approvedValues;
                    
                    if (balanceApprovedValue < 0) {
                        row.querySelector('[name$= "-balance_pcs"]').value = updateBalanceValues;
                    
                    } else {
                        row.querySelector('[name$= "-balance_pcs"]').value = balanceApprovedValue;
                    }
                }
                
            }else {
               
                if (!isNaN(approvedValues) && !isNaN(cuttingApprovedValue) && !isNaN(updateBalanceValues) ) {
                    if (cuttingApprovedValue < approvedValues) {
                    row.querySelector('[name$= "-approved_pcs_Value"]').value = 0;
                    }
                    if(approvedValues=== cuttingApprovedValue){
                   
                   element.setAttribute('readonly', true);
                   }else{
                    element.removeAttribute('readonly');
                   }
                    var balanceApprovedValue = cuttingApprovedValue - approvedValues;
                 
                    if (balanceApprovedValue < 0) {
                        row.querySelector('[name$= "-balance_pcs"]').value = cuttingApprovedValue;
                    } else {
                        row.querySelector('[name$= "-balance_pcs"]').value = balanceApprovedValue;
                    }
                }
            }
           
            totalCutting += cuttingApprovedValue;
            totalapprove += approvedReadOnlyValue;                         //finalApprove; this value is calculate the actual value and already approved value 
            totalbalance += balanceApprovedValue;
            totalActual += approvedValues
            document.getElementById('TotalCutting').value =totalCutting
            document.getElementById('TotalBalance').value =totalbalance;
            document.getElementById('TotalApprove').value = totalapprove;
            document.getElementById('TotalApproveActual').value = totalActual;
        
    });
}


    function submitForm(){
        var balanceApprove = document.querySelectorAll('[name$="-balance_pcs"]');
        var currentApproved = document.querySelectorAll('[name$="-approved_pcs_Value"]');
        var submitBtn = document.querySelector('.create-btn');
        var checkBoxBtn = document.getElementById('id_checkAll');
        currentApproved.forEach(values =>{
            var current = parseInt(values.value);
            values.closest('tr').querySelector('[name$= "-currentApproved_pcs"]').value = current;

        })
        var totalQty = 0;
        balanceApprove.forEach(ele =>{
            var balance = parseInt(ele.value);
           totalQty = totalQty + balance;
        
            return totalQty
        })

        if(totalQty === 0){
            var approveBtn = document.querySelectorAll('[name$= "-approved_pcs_Value"]');
               approveBtn.forEach(element =>{
                   element.setAttribute('readonly', true);
               }) 
               submitBtn.style.display = 'none'; 
               checkBoxBtn.disabled = true;          
        }else{
        submitBtn.style.display = 'block';
        checkBoxBtn.disabled = false;
      }
  
    }
 
    function approveValueCheck(){
        var approveCheck = document.querySelectorAll('[name$= "-approved_pcs_Value"]');
        var submitButton = document.getElementById('cuttingOrderApproved');
        var hasInvalidValue = false; 

        approveCheck.forEach(function(data){
            var approveValue = parseInt(data.value);
            var closerstTr = data.closest('tr');
            var currentCheckValue = closerstTr.querySelector('[name$= "-currentApproved_pcs"]').value;
         if (approveValue != 0) {
            // Check if approvedValues is less than currentCheckValue
            if (approveValue < currentCheckValue) {

                data.style.borderColor = 'red';
                hasInvalidValue = true; 
             
             
            }else{
                data.style.borderColor = 'gray';
              
            }
        } 
        });
        if (hasInvalidValue) {
            submitButton.style.cursor = "not-allowed";
            submitButton.disabled = true;
        } else {
            submitButton.style.cursor = "pointer";
            submitButton.disabled = false;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
    
        quantityCheck()
        submitForm()
 
        let approve = document.querySelectorAll('input[name$="-approved_pcs_Value"]');
        var submitButton = document.getElementById('cuttingOrderApproved');
        approve.forEach(function (element) {
            element.addEventListener('input', () => {
                quantityCheck();
                approveValueCheck();
              
            });
            element.addEventListener('focus',()=>{
                approveValueCheck();
            })
        })
        
        approve.forEach((input, index) => {
            // Listen for keydown events on each Order Quantity input field
            input.addEventListener("keydown", function (event) {
                if (event.key === "Tab") {
                    event.preventDefault(); // Prevent the default behavior of the Enter key
                    input.blur(); // Optional: Remove focus to mimic submission for the row
                    // Focus on the next Order Quantity input field, if available
                    const nextInput = approve[index + 1];
                    if (nextInput) {
                        nextInput.focus();
                    
                    }else {
                        // If it's the last input, focus the submit button
                        submitButton.focus();
                    }
                }
            });
        });
        document.getElementById('purchaseOderCutting').addEventListener('submit',function(){
            approveValueCheck();
        })
        let checkboxData = document.getElementById('id_checkAll');
        checkboxData.addEventListener('change',function(){
            quantityCheck();
            approveValueCheck();
        })

    })



    
    console.log('windowopener',window.opener.sharedData)

    if (window.opener) {
        console.log('windowopener',window.opener.sharedData)
        const dataFromParent = window.opener.sharedData;
        var TotalApprove = 0;
        var totalBalance = 0;
        var TotalLwo = 0 ;
        var newTable = document.querySelector('#approvalDataLog tbody'); 
     
        newTable.innerHTML = ''; // Clear previous table rows

        if(dataFromParent){
            dataFromParent.forEach(function(items, index) {
            console.log(items)
              var approveDate = new Date(items.Approved_Date).toLocaleDateString(); // Format the date
              var approveName = items.Approved_Name || 'N/A';   // Default if undefined
              var approveQty = items.Approved_Qty || 0;        // Default to 0 if undefined
              var actualLwo = items.total_processed_qty || 0;
              var balanceQty = items.pending_Qty || 0;        // Default to 0 if undefined
              var row = document.createElement('tr');        // Create a new row
             
              // Create cells and set their content
              var cell1 = document.createElement('td');
              cell1.textContent = approveDate;

              var cell2 = document.createElement('td');
              cell2.textContent = approveName;

              var cell3 = document.createElement('td');
              cell3.textContent = approveQty;
              cell3.style.color = "rgb(13,110,253)";
              cell3.style.textAlign  = "center";

              var cell4 = document.createElement('td');
              cell4.style.textAlign  = 'center'
              cell4.textContent = actualLwo;
              cell4.style.color = 'green';
              
              var cell5 = document.createElement('td');
              cell5.textContent = balanceQty;
              cell5.style.color = "red";
              cell5.style.textAlign  = "center";

              // Append cells to the row
              row.appendChild(cell1);
              row.appendChild(cell2);
              row.appendChild(cell3);
              row.appendChild(cell4);
              row.appendChild(cell5);

              TotalApprove += approveQty;
              TotalLwo += actualLwo;
              totalBalance += balanceQty;

              // Append the row to the table
              newTable.appendChild(row);
          });
 
        }
        
            document.getElementById('tApprovedQty').textContent = TotalApprove;
            document.getElementById('tLwoQty').textContent = TotalLwo;
            document.getElementById('tBalanceQty').textContent = totalBalance;
            document.getElementById('tBalQty').textContent = totalBalance;
      
    }

    $(document).ready(function(){
        $('#cuttingTable tbody').find('input[name$="-approved_pcs_Value"]').first().focus();

        $('#cuttingTable tbody').on('focus','input',function(){
            var row = $(this).closest('tr');
            var qty = parseInt(row.find('input[name$="-approved_pcs_Value"]').val());
            if(qty === 0){
                row.find('input[name$="-approved_pcs_Value"]').val('')
            }else if(qty > 0){
                row.find('input[name$="-approved_pcs_Value"]').val(qty) 
            }
        })

        $(document).on('focusout','input[name$="-approved_pcs_Value"]',function(){
                
                var value = $(this).val();
                console.log(value)
                if (value === '' || parseFloat(value) <= 0 || isNaN(value)) {
                    $(this).val('0'); // Set to 0 if empty or invalid
                } else {
                    $(this).val(value); // Retain the entered value if valid
                }
        })
    })
</script>

{% endblock %}