{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}
<div class="mb-3">
    <div class="d-flex">
     <div class="mb-2">
        <label for="inwordSerialNo" class="fw-bold me-2">Scan S/N :</label>
        <input type="text" name="scanned_serial_number" class="item-select ms-4" id="inwordSerialNo">
        <label for="id_manualSerialNo" class="fw-bold">Manual S/N :</label>
        <input type="text" name="manual_serial_number" class="item-select ms-3" id="id_manualSerialNo">
   </div>
     <div class=""> 
       <span id="responseMessage" class="ms-3 fw-bold"></span></div>
    </div>
    
     <div class="d-flex ">
         <div class="mb-2">
             
         </div>
         <div class="mb-2 ms-2">
             <button type="button" class="acc-btn" id="manualAjaxButton">Fetch</button>
         </div>
     </div>

<form method="POST">
    {% csrf_token %}
    
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>NO</th>
                <th>Ref No</th>
                <th>Model Name</th>
                <th>Color</th>
                <th>Sku</th>
                <th>Image</th>
                <th>Serial No</th>
                <th>Bin</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

        
 
    <button type="submit">Save</button>
</form>
<script>
        $(document).ready(function () {
    let debounceTimeout;
 

    $('#inwordSerialNo').on('input', function () {
        clearTimeout(debounceTimeout);
        const manual_serial = $('#id_manualSerialNo');
        manual_serial.val('');

        const responseMessage = $('#responseMessage');
        responseMessage.html(''); // Clear any previous messages

        const inputField = $(this);

        debounceTimeout = setTimeout(async function () {
            let inputUrl = inputField.val();
            let serialNo = '';

            if (inputUrl.includes('=')) {
                serialNo = inputUrl.split('=').pop();
                inputField.val(serialNo);
                inputField.css('color', 'black');
            }

            if (serialNo) {
                try {
                    const response = await sendSerialNumber(serialNo);
                    $('#responseMessage').html('<span class="text-success">' + response.message + '</span>');
                } catch (error) {
                    const errorMessage = error.responseJSON?.error || 'An unexpected error occurred.';
                    $('#responseMessage').html('<span class="text-danger">' + errorMessage + '</span>');
                }
            }
        }, 500);
    });

    $('#id_manualSerialNo').on('input', function () {
           // Clear inwordSerialNo
           $('#inwordSerialNo').val('');
   
           const responseMessage = $('#responseMessage');
           responseMessage.html(''); // Clear any previous messages

       });

       $('#id_manualSerialNo').on('keydown', async function (event) {
            if(event.key === 'Enter'){
                event.preventDefault();
                const manualSerialNo = $('#id_manualSerialNo').val();
                const responseMessage = $('#responseMessage'); // Response message container
                    if (manualSerialNo) {
                        try {
                            const response = await sendSerialNumber(manualSerialNo);
                            
                            $('#responseMessage').html('<span class="text-success">' + response.message + '</span>');
                           
                        } catch (error) {
                            const errorMessage = error.responseJSON?.message || 'An unexpected error occurred.';
                            $('#responseMessage').html('<span class="text-danger">' + errorMessage + '</span>');
                            $('#id_manualSerialNo').val('');
                      
                         
                        }
                    } else {
                        $('#responseMessage').html('<span class="text-danger">Please enter a Manual Serial Number.</span>');
                        $('#id_manualSerialNo').val('');
                    }
                    
            }
           

       });

    function populateRow(row, productResponse) {
    row.find('[name$="-product_name"]').val(productResponse[0]);
    row.find('[name$="-product_name_value"]').val(productResponse[1]);
    row.find('[name^="product_color_"]').val(productResponse[2]);
    row.find('[name^="product_Sku_"]').val(productResponse[0]);
    row.find('[name$="-unique_serial_no"]').val(productResponse[3]);
    row.find('[name$="-mrp"]').val(productResponse[5]);
    row.find('[name$="-sale_price"]').val(productResponse[6]);
    row.find('[name$="-gst"]').val(productResponse[4]);
}

async function sendSerialNumber(serialNo) {
    const warehouseId = $('#id_selected_warehouse').val();
    console.log('warehouseId',warehouseId)
    try {
        const response = await $.ajax({
            url: '/outwardscanserialnoprocess/',
            type: 'GET',
            data: {
                serialNo: serialNo,
                warehouseId: warehouseId,
            },
        });

        if (response.products && response.products.length > 0) {
            const productResponse = response.products[0];
            console.log('productResponse',productResponse)
            const tableBody = $('#salesTable .mainTableList');
     

            let rowToPopulate = null;

            // Find the first empty row
            tableBody.find('tr').each(function () {
                const row = $(this);
                const inputField = row.find('[name$="-product_name_value"]');
                console.log('inputField',inputField)
                if (inputField.val().trim() === "") {
                    rowToPopulate = row;
                    return false; // Break the loop
                }
            });

            if (rowToPopulate) {
              console.log('empty row',rowToPopulate)
                // Populate the first empty row
                populateRow(rowToPopulate, productResponse);
            } else {
                // Add a new row and populate it
                console.log('create row',rowToPopulate)
                addNewRow();
                const newRow = tableBody.find('tr').last();
                populateRow(newRow, productResponse);
            }
        } else {
            console.error("No products data found in response.");
        }
        

        return response;
    } catch (error) {
        console.error("Error sending serial number:", error);
        throw error;
    }
}

function isTableEmpty() {
      console.log($('#salesTable .mainTableList tr').toArray().every(row => isRowEmpty($(row))))
    return $('#salesTable .mainTableList tr').toArray().every(row => isRowEmpty($(row)));
      }

      function isRowEmpty(row) {
          return row.find('td :input').filter(function () {
            console.log('test',$(this).val().trim() )
              return $(this).val().trim() !== "";
          }).length === 0;
      }


    function addNewRow() {
        const tableBody = document.querySelector('#salesTable .mainTableList');

        tableBody.querySelectorAll('tr').forEach(row => {
            if (window.getComputedStyle(row).display !== 'none') {
                lastVisibleRow = row;
            }
        });

        const formCountInput = document.getElementById("id_sales_voucher_finish_goods_set-TOTAL_FORMS");
        const formCount = parseInt(formCountInput.value);
        const formIndex = formCount;
        const lastRow = lastVisibleRow.cloneNode(true);
        lastRow.querySelectorAll("input select").forEach(function (e) {
            e.value = "";
        });

        // Update the input name, id, and value of the last row
        const rowElement = lastRow.querySelector('.rowNo[name^="rowNo_"]');
        rowElement.id = `rowNo_${formIndex}`;
        rowElement.name = `rowNo_${formIndex}`;
        rowElement.value = formIndex + 1;
        rowElement.style.border = "none";

        const inputSelectElement = lastRow.querySelector('input[name$="-RefNo"]');
        inputSelectElement.id = `id_sales_voucher_finish_goods_set-${formIndex}-RefNo`;
        inputSelectElement.name = `sales_voucher_finish_goods_set-${formIndex}-RefNo`;
        inputSelectElement.value = "";

        const inputElement = lastRow.querySelector('input[name$="-product_name_value"]');
        inputElement.id = `id_sales_voucher_finish_goods_set-${formIndex}-product_name_value`;
        inputElement.name = `sales_voucher_finish_goods_set-${formIndex}-product_name_value`;
        inputElement.value = "";

        const colorInputElement = lastRow.querySelector('.purchase-input[name^="product_color"]');
        colorInputElement.id = `product_color_${formIndex}`;
        colorInputElement.name = `product_color_${formIndex}`;
        colorInputElement.value = "";

        const skuInputElement = lastRow.querySelector('.purchase-amount[name^="product_Sku"]');
        skuInputElement.id = `product_Sku_${formIndex}`;
        skuInputElement.name = `product_Sku_${formIndex}`;
        skuInputElement.value = "";

        const serialNoElement = lastRow.querySelector('input[name$="-unique_serial_no"]');
        serialNoElement.id = `id_sales_voucher_finish_goods_set-${formIndex}-unique_serial_no`;
        serialNoElement.name = `sales_voucher_finish_goods_set-${formIndex}-unique_serial_no`;
        serialNoElement.value = '';

        const qunatityInputElement = lastRow.querySelector('.sales-qunatity[name^="sales_voucher_finish_goods_set-"][name$="-quantity"]');
        qunatityInputElement.id = `id_sales_voucher_finish_goods_set-${formIndex}-quantity`;
        qunatityInputElement.name = `sales_voucher_finish_goods_set-${formIndex}-quantity`;
        qunatityInputElement.value="1";

      

     



        formCountInput.value = formCount + 1;
        tableBody.appendChild(lastRow);
      
    }


 })
</script>


{% endblock body %}