{% extends 'product/base.html' %} 
{% load static %} 
{% block body %}

<section>
    <div class="d-flex my-2">
        <button class="acc-btn" onclick="addButtonRedirect()">Add +</button>
        <div class="container-account"> 
         <input class="" type="search" placeholder="Search" aria-label="Search" id="" name="" />
           <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <button class="product-btn ml-3 ms-3" >Clear Filter</button>
    </div>
    
      <div class="mt-2 table-responsives">
        <table  class="table table-striped table-hover table-bordered">
            <thead class="name_absolute sticky-top">
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Outward No</th>
                    <th>Picklist No</th>
                    <th>Picklist Qty</th>
                    <th>Outward Qty</th>
                    <th>Balance</th>
                    <th>Sale No</th>
                    <th>Party Name</th>
                    <th>Amount</th>
                    <th>Qty</th>
                    <th >Edit</th>
                </tr>
            </thead>
          
            <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
                {% for outward in outward_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{outward.created_date}}</td>
                    <td class="text-center">{{outward.outward_no}}</td>
                    <td class="text-center">
                        {% for picklist_process in outward.picklist_process_in_outward_set.all %}
                            {{ picklist_process.picklist.picklist_no }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">{{outward.picklist_total_qty}}</td>
                    <td class="text-center">{{outward.total_qty}}</td>
                    <td class="text-center">{{outward.remaining_qty}}</td>
                    {% with outward.sales_voucher_master_outward_scan_set.all as sales %}
                    {% if sales %}
                        {% for sale_process in sales %}
                            <td class="text-center">{{ sale_process.sale_no |default_if_none:'' }}</td>
                            <td class="text-center">{{ sale_process.party_name.name |default_if_none:'' }}</td>
                            <td class="text-center">{{ sale_process.grand_total |default_if_none:'' }}</td>
                        {% endfor %}
                    {% else %}
                        <!-- Show empty cells if no sales are linked -->
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                {% endwith %}
                    <td>{{ outward.sale_total_qty }}</td>
                    <td><a href="{% url 'outward-scan-product-update' outward.id %}"><i class="fa-solid fa-pen-to-square px-1"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
</section>
  




<script>
    function addButtonRedirect(){
        window.location.href = "/outwardscanproductcreate/"
    }
                    
</script>
{% endblock body %}