{% extends 'product/base.html' %}
{% load static %}
{% block body %}
<h5 class="fw-bold">Picklist No : {{picklist_number.picklist_no}}</h5>
<div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="name_absolute sticky-top">
            <tr>
                <th>No</th>
                <th>Zone</th>
                <th>Rack</th>
                <th>Bin</th>
                <th>Ref No</th>
                <th>Model Name</th>
                <th>Color</th>
                <th>IMG</th>
                <th>QTY</th>
            </tr>
        </thead>
        <tbody class="mainTableList" >
            
            {% for data in picklist_data %}
            
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.bin_number.rack_finished_name.zone_finished_name.zone_name}}</td>
                <td>{{data.bin_number.rack_finished_name.rack_name}}</td>
                <td>{{data.bin_number.bin_name}}</td>
                <td>{{data.product.Product.Product_Refrence_ID}}</td>
                <td>{{data.product.Product.Model_Name}}</td>
                <td>{{data.product.PProduct_color.color_name}}</td>
                <td><img src="{{ data.product.PProduct_image.url }}" alt="Product Image" style="width: 25px; object-fit:contain;"></td>
                <td>{{data.product_quantity}}</td>
                
             </tr>
             
            {% endfor %}
      
        </tbody>    
    </table>
</div>  
{% endblock body %}