{% extends 'product/base.html' %}
{% load static %}
{% block body %}
    <form action="" method="post" id="stockTransferForm" class="mt-3">
      {% csrf_token %}
      
      <input type="hidden" id="productTransferDate" value="{{dict_to_send}}">
      <span id="purchaseError" class="error-messages"></span>
      <div class="d-flex mb-2">
          <label for="id_voucher_no" class="">Voucher No:</label>
          {% if form.instance.pk %}
          <input value="{{form.instance.voucher_no |default_if_none:''}}" class="purchase-vNo mx-3" type="text" name="voucher_no" id="id_voucher_no" readonly>
          {% elif not form.instance.pk %}
          <input value="{{form.voucher_no.initial}}" required class="purchase-vNo mx-3" type="text" name="voucher_no" id="id_voucher_no">
          {% endif %}
          <div>
              <label for="" class="item-form">Source warehouse:</label>
              <p>(Transfer from)</p>
          </div>
          <div class="d-flex mb-3 ms-3 my-2">
              <select name="source_warehouse" required class="item-select" id="id_source_warehouse">
  
                  {% if form.instance.pk %}
                    <option value="{{form.instance.source_warehouse.id}}">{{form.instance.source_warehouse.godown_name_finished}}</option>
                        
                  {% elif not form.instance.pk %}
  
                    <option value=""></option>
                    
                    {% for godown in godowns %}
                    <option value="{{ godown.id }}">{{godown.godown_name_finished}}</option>
                    {% endfor %}
                  
  
                  {% endif %}
              </select>
          </div>
          <span class="pt-3 px-2">To</span>
          <div class="mx-2">
              <label for="" class="item-form">Target Warehouse:</label>
              <p>(Transfer to)</p>
          </div>
          <div class=" d-flex mb-3 ms-3 my-2">
              <select class="item-select destination_godowns" required name="destination_warehouse" id="id_destination_warehouse">
                {% if form.instance.pk %}
                  <option value="{{form.instance.destination_warehouse.id}}">{{form.instance.destination_warehouse.warehouse_name_finished}}</option>
               
                  {% elif not form.instance.pk %}

                  <option value=""></option>
      
                  {% for warehouse in warehouses %}
                  <option value="{{ warehouse.id }}">{{warehouse.warehouse_name_finished}}</option>
                  {% endfor %}
                

                {% endif %}
              </select>
          </div>
      </div>
    
     
      <div class="">
          <table class="table table-striped table-hover table-bordered" id="mainProductForm">
              <thead class="name_absolute sticky-top">
                  <tr>
                      <th>No</th>
                      <th>Ref No</th>
                      <th>Product Name</th>
                      <th>SKU</th>
                      <th>Color</th>
                      <th>Qty</th>
                      <th>Units</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody class="mainTableList">
                  {{ formset.management_form}}
                  {% for form in formset %}
                  {% if voucher_instance.qc_all_qty > 0 %}
                  {{form.id}}
                  <tr>
                    <input type="hidden" name="{{form.prefix}}-ids" value="{{form.instance.id}}" id="id_{{form.prefix}}-ids">
                      <td><span id="id_stock_{{forloop.counter0}}">{{forloop.counter}}</span></td>
                      <td><input type="number" name="{{form.prefix}}-product_refNo" class="purchase-amount stock_color" id="id_{{form.prefix}}-product_refNo" value="{% if form.instance.id %}{{form.instance.product.Product.Product_Refrence_ID}}{% endif %}"style="outline:none" readonly></td>
                      <td>
                          <div class="custom-dropdown-container">
                            <input type="hidden" name="{{form.prefix}}-product" id="id_{{form.prefix}}-product" value="{% if form.instance.id %}{{form.instance.product.PProduct_SKU}}{% endif %}" readonly> 
                              <input type="text" name="{{form.prefix}}-products" id="id_{{form.prefix}}-products" class="productpurchaseInvoice search-input stock_product_name"  placeholder="Product Name" autocomplete="off" value="{% if form.instance.id %}{{ form.instance.product.Product.Model_Name}}{% endif %}"> 
                              <div name="select_product_name_{{forloop.counter0}}" class="productpurchaseInvoice stock_input_name s-suggestion-container item-select_input" id="select_product_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Product Name" >
  
                               </div>
                          </div> 
                      </td>
                      <td><input type="number" class="purchase-amount stock_color" name="{{form.prefix}}-product_sku" id="id_{{form.prefix}}-product_sku" value="{% if form.instance.id %}{{form.instance.product.PProduct_SKU}}{% endif %}" readonly style="outline: none;"> </td>
                      <td>
                          <input type="text" value="{{form.instance.product.PProduct_color.color_name}}" name="stock_color_{{forloop.counter0}}" id="id_stock_color_{{forloop.counter0}}" class="purchase-amount stock_color" readonly style="outline: none;">
                      </td>
                      <td>
                          <input  type="text" value="{{form.instance.product_quantity_transfer|default_if_none:''}}" class="purchase-amount" name="{{form.prefix}}-product_quantity_transfer" maxlength="200" id="id_{{form.prefix}}-product_quantity_transfer" >
                      </td>
                      <td>
                          <input  type="text" value="{{form.instance.product.Product.Product_UOM}}" name='stock_per_{{forloop.counter0}}' id="id_stock_per_{{forloop.counter0}}" class="purchase-amount stock_units" readonly>
                      </td>
                      <td>
                          <span class="delete-btn border-0 bg-transparent" style="cursor: pointer; display: none;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input disabled type="checkbox" class="stock_deleteId px-2" style="display: none;" name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE" value="" readonly></i></span>
                      </td>
                  </tr>
                  {% else %}
                  {{form.id}}
                  <tr>
                
                    <input type="hidden" name="{{form.prefix}}-ids" value="{{form.instance.id}}" id="id_{{form.prefix}}-ids">
                    <td><span id="id_stock_{{forloop.counter0}}">{{forloop.counter}}</span></td>
                    <td><input type="number" name="{{form.prefix}}-product_refNo" class="purchase-amount stock_color" id="id_{{form.prefix}}-product_refNo" value="{{form.instance.product.Product.Product_Refrence_ID}}" readonly style="outline:none"></td>
                    <td>
                        <div class="custom-dropdown-container">
                          <input  type="hidden" name="{{form.prefix}}-product" id="id_{{form.prefix}}-product" value="{% if form.instance.id %}{{form.instance.product.PProduct_SKU}}{% endif %}" > 
                            <input type="text" name="{{form.prefix}}-products" id="id_{{form.prefix}}-products" class="productpurchaseInvoice search-input stock_product_name"  placeholder="Product Name" autocomplete="off" value="{% if form.instance.id %}{{ form.instance.product.Product.Model_Name}}{% endif %}"> 
                            <div name="select_product_name_{{forloop.counter0}}" class="productpurchaseInvoice stock_input_name s-suggestion-container item-select_input" id="select_product_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Product Name" >

                             </div>
                        </div> 
                    </td>
                    <td><input type="number" class="purchase-amount stock_color" name="{{form.prefix}}-product_sku" id="id_{{form.prefix}}-product_sku" value="{% if form.instance.id %}{{form.instance.product.PProduct_SKU}}{% endif %}" style="outline: none;" readonly> </td>
                    <td>
                        <input type="text" value="{{form.instance.product.PProduct_color.color_name}}" name="stock_color_{{forloop.counter0}}" id="id_stock_color_{{forloop.counter0}}" class="purchase-amount stock_color" readonly style="outline: none;">
                    </td>
                    <td>
                        <input type="text" value="{{form.instance.product_quantity_transfer|default_if_none:''}}" class="purchase-amount stock_qty" name="{{form.prefix}}-product_quantity_transfer" maxlength="200" id="id_{{form.prefix}}-product_quantity_transfer">
                    </td>
                    <td>
                        <input type="text" value="{{form.instance.product.Product.Product_UOM}}" name='stock_per_{{forloop.counter0}}' id="id_stock_per_{{forloop.counter0}}" class="purchase-mark" style="outline: none;" readonly>
                    </td>
                    
                    <td>
                        <span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="stock_deleteId px-2" style="display: none;" name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE" value="{{ form.instance.DELETE }}"></i></span>
                    </td>
                    
                </tr>
                  {% endif %}
                  {% endfor %}
              </tbody>
          </table>
          {% if voucher_instance.qc_all_qty > 0 %}
            <input readonly  type="number" class="product_row" name="productRow" id="id_productRow" value="1">
            <button style="display: none;" type="button" class="create-btn" id="addRowButton">Add +</button>
          {% else %}

            <input  type="number" class="product_row" name="productRow" id="id_productRow" value="1">
            <button type="button" class="create-btn" id="addRowButton">Add +</button><br>
          {% endif %}
            

            
          <div class="mb-2">
            {% if form.instance.id %}

            <div class="mb-2">
                <label for="id_vehicle_no" class="me-1">Vehicle no :</label>
                <input type="text" class="purchase-itemName me-3" name="vehicle_no" maxlength="50" required id="id_vehicle_no" value="{{ master_form.instance.vehicle_no}}">
                <label for="id_driver_name" class="me-1">Driver name :</label>
                <input type="text" class="purchase-itemName me-3" name="driver_name" maxlength="100" required id="id_driver_name" value="{{ master_form.instance.driver_name}}">
                <label for="id_dispatch_time" class="me-1">Dispatch time :</label>
                <input type="text" class="purchase-itemName me-3" name="dispatch_time" required id="id_dispatch_time" value="{{ master_form.instance.dispatch_time|time:'H:i' }}" readonly> 
                <label for="id_no_of_boxes" class="me-1">No of boxes :</label>
                <input type="number" class="me-1 purchase-mark" name="no_of_boxes" min="0" required id="id_no_of_boxes" value="{{ master_form.instance.no_of_boxes}}">
                <label for="id_no_of_pcs" class="me-1">No of pcs :</label>
                <input type="number" class="me-1 product_remark" name="no_of_pcs" min="0" required id="id_no_of_pcs" readonly value="{{ master_form.instance.no_of_pcs}}">
            </div>
            

            {% elif not master_form.instance.id %}

            <div class="mb-2">
                <label for="id_vehicle_no" class="me-1">Vehicle no :</label>
                <input type="text" class="purchase-itemName me-3" name="vehicle_no" maxlength="50" required id="id_vehicle_no">
                <label for="id_driver_name" class="me-1">Driver name :</label>
                <input type="text" class="purchase-itemName me-3" name="driver_name" maxlength="100" required id="id_driver_name">
                <label for="id_dispatch_time" class="me-1">Dispatch time :</label>
                <input type="text" class="purchase-itemName me-3" name="dispatch_time" required id="id_dispatch_time_create" readonly> 
                <label for="id_no_of_boxes" class="me-1">No of boxes :</label>
                <input type="number" class="me-1 purchase-mark" name="no_of_boxes" min="0" required id="id_no_of_boxes">
                <label for="id_no_of_pcs" class="me-1">No of pcs :</label>
                <input type="number" class="me-1 product_remark" name="no_of_pcs" min="0" required id="id_no_of_pcs" readonly>
            </div>

            {% endif %}
        </div>

            

            <div class="ms-2 mt-5">
                <label for="id_narration" class="purchase-lable fw-bold me-2">Narration :</label>
                <input type="text" class="productpurchaseInvoice ps-2" name="narration" id="id_narration" value="{{form.instance.narration |default_if_none:''}}">
            </div>
     
      </div>
      {% if not voucher_instance.qc_all_qty > 0 %}
      <button type="submit" id="submitButtonStockTransfer" class="create-btn mt-4" name="save" value="Save">Submit</button>
      {% endif %}

    </form>
    
  <script>
    function setRealTime() {
        const now = new Date();
        let hours = now.getHours();
        let minutes = now.getMinutes();

        // Add leading zero if minutes < 10
        if (minutes < 10) {
            minutes = '0' + minutes;
        }

        // Format time as HH:MM (24-hour format)
        const currentTime = hours + ':' + minutes;
        document.getElementById('id_dispatch_time_create').value = currentTime;
    }

    window.onload = setRealTime;

    setInterval(setRealTime, 1000);
    
     $(document).ready(function(){
        $('#id_voucher_no').focus()
        var forms = $("#id_finished_goods_transfer_records_set-0-id").val();
       
        if(forms === ''){
            $('#id_voucher_no').on('focusout',function(){
            var purchase_number = $(this).val();
            var purchase = $("#id_voucher_no");
            var errorElement = $('#purchaseError'); // The error message element
            var submitForm = $('#submitButtonStockTransfer');
            $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'voucher_no': purchase_number,
                    
                },
                success: function (data) {
                    if(data.validation_flag === true){
                       purchase.css('border', '1px solid red');
                        errorElement.text('*Purchase number already exists');
                        errorElement.show();
                        submitForm.prop('disabled', true);
                       
                    }else {
                        
                        purchase.css('border', '1px solid black');
                        errorElement.text('');
                        errorElement.hide();
                        submitForm.prop('disabled', false);
                    }
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        }) 
        } 
       

        
    })
    
      document.addEventListener('DOMContentLoaded', function () {
  
          const addRowButton = document.getElementById('addRowButton');
          const mainTable = document.querySelector('.mainTableList');
  
          if (addRowButton && mainTable) {
              addRowButton.addEventListener('click', function () {
                let addInputRow = parseInt(document.getElementById('id_productRow').value, 10);

                if (isNaN(addInputRow) || addInputRow <= 0) {
                    addInputRow = 1;
                    return;
                }
                let lastVisibleRow = null;
                mainTable.querySelectorAll('tr').forEach(row => {
                    if (window.getComputedStyle(row).display !== 'none') {
                        lastVisibleRow = row;
                    }
                });
                  if (lastVisibleRow) {
                      const newForm = document.getElementById('id_finished_goods_transfer_records_set-TOTAL_FORMS');
                      for(let i = 0; i<addInputRow; i++){
                        const newFormCount = parseInt(newForm.value);
                      const newTable = lastVisibleRow.cloneNode(true);
                      newTable.querySelectorAll("input select").forEach(function (e) {
                          e.value = "";
                      });
  
                      const newId = newTable.querySelector('span[id^="id_stock_"]');
                      newId.id = `id_stock_${newFormCount}`;
                      newId.textContent = newFormCount + 1;

                      const productidElement = newTable.querySelector('input[name$="-ids"]');
                      productidElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-ids`;
                      productidElement.name = `finished_goods_transfer_records_set-${newFormCount}-ids`;
                      productidElement.value = "";

                      const productReferenceElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="-product_refNo"]');
                      productReferenceElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-product_refNo`;
                      productReferenceElement.name = `finished_goods_transfer_records_set-${newFormCount}-product_refNo`;
                      productReferenceElement.value = "";
                      productReferenceElement.style.outline ="none";
  
                      const productNameElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="-product"]');
                      productNameElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-product`;
                      productNameElement.name = `finished_goods_transfer_records_set-${newFormCount}-product`;
                      productNameElement.value = "";

                      const itemNameElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="-products"]');
                      itemNameElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-products`;
                      itemNameElement.name = `finished_goods_transfer_records_set-${newFormCount}-products`;
                      itemNameElement.value = "";
                      itemNameElement.style.readonly =false;
  
                      const selectElement = newTable.querySelector('.stock_input_name[name^="select_product_name_"]');
                      selectElement.id = `select_product_name_${newFormCount}`;
                      selectElement.name = `select_product_name_${newFormCount}`;
                      selectElement.innerHTML = '';

                      const productSkuElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="-product_sku"]');
                      productSkuElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-product_sku`;
                      productSkuElement.name = `finished_goods_transfer_records_set-${newFormCount}-product_sku`;
                      productSkuElement.value = "";
  
                      const itemColorElement = newTable.querySelector('input[name^="stock_color_"]');
                      itemColorElement.id = `id_stock_color_${newFormCount}`;
                      itemColorElement.name = `stock_color_${newFormCount}`;
                      itemColorElement.value = "";
  
                      const itemQuantityElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="product_quantity_transfer"]');
                      itemQuantityElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-product_quantity_transfer`;
                      itemQuantityElement.name = `finished_goods_transfer_records_set-${newFormCount}-product_quantity_transfer`;
                      itemQuantityElement.value = "";
  
                      const itemPerElement = newTable.querySelector('input[name^="stock_per_"]');
                      itemPerElement.id = `id_stock_per_${newFormCount}`;
                      itemPerElement.name = `stock_per_${newFormCount}`;
                      itemPerElement.value = "";
  
                      const deleteElement = newTable.querySelector('.stock_deleteId[name^="finished_goods_transfer_records_set-"][name$="-DELETE"]');
                      deleteElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-DELETE`;
                      deleteElement.name = `finished_goods_transfer_records_set-${newFormCount}-DELETE`;
                      deleteElement.value = "";
                      deleteElement.checked = false;
  
                      newForm.value = newFormCount + 1;
  
                      mainTable.appendChild(newTable);
                      }
                      document.getElementById('id_productRow').value = '1';
                        deleteRow();
                        editStockTransferProduct()
                        inputCheck();
                    
                  } else {
                      console.error("No visible rows found to clone.");
                  }
              });
          }
          function getVisibleRows() {
            // Select all rows that are not hidden (excluding those with display: none)
            const visibleRows = document.querySelectorAll('.mainTableList tr:not([style*="display: none"])');
            return visibleRows;
        }
  
          function deleteRow() {
              // Add click event listener to all delete buttons
              document.querySelectorAll('.delete-btn').forEach(function (button) {
                  button.addEventListener('click', function () {
                      // Find the row containing the clicked delete button
                      const rows = getVisibleRows();
                      if (rows.length > 1) {
                             // Find the row containing the clicked delete button
                    const row = this.closest('tr');

                    if (row) {
                        // Find the checkbox for deletion in the row
                        const checkRow = row.querySelector('.stock_deleteId[name^="finished_goods_transfer_records_set-"][name$="-DELETE"]');

                        if (checkRow) {
                            checkRow.checked = true; // Mark as checked
                            checkRow.value = 'true'; // Set the value to 'true'

                            row.style.display = 'none';
                           
                        } else {
                            console.error("Checkbox for deletion not found in this row");
                        }
                    }
                } else {
                    // If only one row remains, alert the user
                    alert('Cannot delete this row; at least one row must remain.');
                }
                     
                     
                  });
              });
          };
          deleteRow();
         
      });
      function editStockTransferProduct() {
        var forms = document.getElementById('id_finished_goods_transfer_records_set-TOTAL_FORMS').value;
      
        for(var i=0; i<forms; i++){
            var stockId = document.getElementById('id_finished_goods_transfer_records_set-' + i +'-ids').value;
            var stockItemName = document.getElementById('id_finished_goods_transfer_records_set-'+ i+'-products');
            var stockQty = document.getElementById('id_finished_goods_transfer_records_set-'+i+'-product_quantity_transfer');
            var deleteButton = document.getElementById('id_finished_goods_transfer_records_set-'+ i +'-DELETE').value;
            var addButton = document.getElementById('addRowButton');
            var submitBtn = document.getElementById('submitButtonStockTransfer')
           

            if(deleteButton === "true"){
                addButton.style.display="none";
                submitBtn.style.display = "none";
                stockItemName.readOnly = true;
                stockQty.readOnly = true;
            }else{
                submitBtn.style.display = "block";
                stockItemName.readOnly = false;
                stockQty.readOnly = false;
            }
           
        }
      
    }
    editStockTransferProduct()

    $(document).ready(function () {
        var searchedItemNameDict;
        var enterPressed = false;
        var itemName;
        var purchaseValue;
        var filterData;
        var productWerhouseid = $('#id_finished_goods_transfer_records_set-0-ids').val();  

        if(productWerhouseid == '' || productWerhouseid === "None" ){
            $('#id_source_warehouse').on('change', function () {
            const godown_id = $(this).val();
            fetchWarehouseData(godown_id);
            })    
        }else{
            var productTransferdate = $('#productTransferDate').val();
        try {
        // Fix single quotes and mismatched quotes in the JSON string
            const sanitizedData = productTransferdate
                .replace(/'/g, '"') // Replace single quotes with double quotes
                .replace(/([{,])\s*(\d+)\s*:/g, '$1"$2":'); // Add quotes around numeric keys
                filterData = JSON.parse(sanitizedData);

                if (filterData) handleProductInput(filterData);
               
            } catch (error) {
                console.error('Error parsing stockData:', error);
            }
        }

        function fetchWarehouseData(godown_id) {
            resetInputs();
            if (!godown_id) return;
            $.ajax({
                url: '/producttransfertowarehouseajax/',
                method: 'GET',
                data: { 'godown_id': godown_id },
                success: function (response) {
                    console.log(response.filtered_product)
                
                    filterData = response.filtered_product
                    handleProductInput(filterData);
                },
                error: function (error) {
                    console.error('Error fetching warehouse data');
                    filterData = {};
                    handleProductInput(filterData);
                    resetInputs();
                }
            });
        }
        function resetInputs() {
            $('.productpurchaseInvoice').val('');
            $('.s-suggestion-container').hide().empty();
            $('[name^="select_product_name_"]').empty();
            $('.stock_color, .stock_qty, .purchase-mark').val('');
        }

        function handleProductInput(filterData){
            console.log('filterData',filterData)
            if (filterData || Object.keys(filterData).length === 0) {
                $(document).on('click input keyup focus keydown', 'input[name$="-products"]', function () {
                    itemName = $(this).closest('tr').find('input[name$="-product_quantity_transfer"]').attr('name');
                    purchaseValue = itemName.split('-')[1];
                            
                });
                $(document).on('input', 'input[name$="-products"]', function(e) {
                    var StockValue = $(this).attr('name').match(/\d+/)[0]; // Extract the numeric value from the input name
                    var nameValue = $(this).val().trim();
                    var selectNameValue = `select_product_name_${StockValue}`;
                    var suggestionsContainer = $(`#${selectNameValue}`);
                 
                    if (nameValue === 'None' || nameValue === '') {
                    suggestionsContainer.css('display', 'none').empty();
                        $(this).attr('data-key', '');
                        return;
                    }
                    if(!enterPressed){
                        suggestionsContainer.css('display', 'block');
                    }
                    enterPressed = false;
                    
                    function escapeRegExp(string) {
                        return string.replace(/[.*+?^${}()|[\]\\,]/g, '\\$&');
                    }
                    searchedProductNameDic = filterData; 
                    console.log('searchedProductNameDic',searchedProductNameDic)
                    const searchQuery = nameValue.toLowerCase();
                    const searchTerms = searchQuery.split(/\s+/);
                    const convertStringData = searchTerms.toString();
                
                    const escapedTerms = searchTerms.map(escapeRegExp);

                    const regex = new RegExp(`(${escapedTerms.join('|')})`, 'gi');

                    const normalizeSpaces = (str) => str.replace(/\s+/g, ' ').trim();
    
                    const filteredOptions = Object.entries(searchedProductNameDic).filter(
                    ([key, value]) => {
                        const normalizedKey = normalizeSpaces(key.toString().toLowerCase());
                        const normalizedProductName = normalizeSpaces(value[0].toString().toLowerCase());
                        const normalizedColor = normalizeSpaces(value[1].toString().toLowerCase());
                    
                        const normalizedQuery = normalizeSpaces(convertStringData.toLowerCase());
        
                        return normalizedKey.includes(normalizedQuery) ||
                            normalizedProductName.includes(normalizedQuery) ||
                            normalizedColor.includes(normalizedQuery);
                    });
        
                    suggestionsContainer.empty();
                    // Generate suggestions for matching options
                    filteredOptions.forEach(([key, value], index) => {
                        // Extract relevant fields
                        const productName = value[3]; // Product name
                        const productSKU = key; // SKU
                        const productColor = value[1];
                        const productQty = value[2];

                        // Highlight matches in name, SKU, and color
                        const highlightedText = productName.replace(regex, '<span class="highlight">$1</span>');
                        const highlightedSKU = productSKU.replace(regex, '<span class="highlight">$1</span>');
                        const highlightedColor = productColor.replace(regex, '<span class="highlight">$1</span>');
                        // const highlightedQty = productQty.replace(regex, '<span class="highlight">$1</span>');

                        // Add the suggestion to the container
                        suggestionsContainer.append(`
                            <div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion" data-key="${key}">
                                ${highlightedText}<span style="padding-left:20px">${highlightedColor}</span> <span style="float:right">${productQty}</span>
                            </div>
                        `);
                        
                    });
                    if(filteredOptions == ''){
                        suggestionsContainer.show();
                        suggestionsContainer.empty();
                        suggestionsContainer.append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                    }
                        
                    suggestionsContainer.on('click', '.itemName-div', function(e) {
                        var item_value = $(this).data('key');
                        var itemNamevaluesCheck = $(this).text().trim();
                        
                        $(this).closest('.custom-dropdown-container').find('.search-input').val(newNameValue);
                        $(this).closest('.custom-dropdown-container').find('[name$="-product"]').val(item_value)
                        $(this).addClass('selected').siblings().removeClass('selected');

                        if (item_value !== undefined) {
                            var selectedValue = searchedProductNameDic[item_value];
                            var namevalueCheck = selectedValue[3];
                            const productQty = selectedValue[2];
                            var newNameValue = namevalueCheck + '                             '+ productQty;
                    
                                $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-products"]`).val(newNameValue);
                                $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-product_quantity_transfer"]`).focus();
                                const productColor = selectedValue[1]
                               
                                const productRefNo = selectedValue[4];
                                const productunitNo = selectedValue[5] ;
                                console.log('productunitNo'.productunitNo)

                                var productcolorinput = document.querySelector('#id_stock_color_' + purchaseValue);
                                var productQtyinputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_quantity_transfer');
                                var productSkuInputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_sku');                    
                                var productRefNoValue = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_refNo');
                                var UnitsValue = document.getElementById('id_stock_per_' + purchaseValue );
                                productcolorinput.value = productColor;
                                // productQtyinputs.value = productQty ;
                                productSkuInputs.value = item_value;
                                productRefNoValue.value = productRefNo;
                            
                                UnitsValue.value = productunitNo;
                        }
                    
                        suggestionsContainer.css('display', 'none');
                        
                    })

            })
            }
           
            

                var index = 0; // Declare index outside of the event listener
                var indexbool = true;

                $(document).on('keydown', 'input[name$="-products"]', function(event) {
                    const $inputField = $(this);
                    const $dropdownOptions = $inputField.next('.stock_input_name');
                    const $options = $dropdownOptions.find('.itemName-div');
                    const optionsCount = $options.length - 1;
                    const searchText = $inputField.val().trim();
                    const hiddenValue = $inputField.closest('.custom-dropdown-container').find(`#select_product_name_${purchaseValue}`);
                    if (searchText === '') {
                        index = 0;
                        return;
                    }
                    const newHeight = $inputField.offset();
                    const windowHeight = $(window).height();
                    const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
            

                    if (event.key === 'ArrowDown') {
                        event.preventDefault();

                        if (index <= optionsCount) {
                        
                            const $selectedItem = $options.eq(index);
                            const $nextItem = $selectedItem.next();
                            const nameDataKey = $selectedItem.text();
                            const nameKey = $selectedItem.data('key');

                            $inputField.attr('data-key', nameKey);
                        
                            $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                            const itemOffsetTop = $nextItem.position().top;
                            const itemHeight = $nextItem.outerHeight();
                            const selectScrollTop = $dropdownOptions.scrollTop();
                            const selectHeight = $dropdownOptions.height();

                            if (itemOffsetTop + itemHeight > selectHeight) {
                                $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                            } else if (itemOffsetTop < 0) {
                                $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                            }
                            $selectedItem.addClass('selected');
                            if (index !== optionsCount) {
                                index += 1;
                                indexbool = true;
                            }
                        } else {
                            index = 0;
                        }
                    }

                    if (event.key === 'ArrowUp') {
                        event.preventDefault();

                        if (index != 0 && indexbool == true) {
                            index -= 1;
                        }

                        if (index <= optionsCount) {
                        
                            const $selectedItem = $options.eq(index);
                            const $prevItem = $selectedItem.prev();
                            const nameDataKey = $selectedItem.text();
                            const nameKey = $selectedItem.data('key');

                            $inputField.attr('data-key', nameKey);
                            
                            $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                            
                            const itemOffsetTop = $prevItem.position().top;
                            const itemHeight = $prevItem.outerHeight();
                            const selectScrollTop = $dropdownOptions.scrollTop();
                            const selectHeight = $dropdownOptions.height();

                            if (itemOffsetTop < 0) {
                                $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                            } else if (itemOffsetTop + itemHeight > selectHeight) {
                                $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                            }

                            $selectedItem.addClass('selected');
                        } else {
                            index = 0;
                        }
                    }

                    if (event.key === 'Enter') {
                        event.preventDefault();
                        const itemEnterValue = $(this);
                        const item_value = itemEnterValue.attr('data-key');

                        nameDataKey = '';
                        nameKey = '';
                        index = 0;
                        indexbool = false;
                        if (item_value !== undefined) {
                        var selectedValue = searchedProductNameDic[item_value];
                        var namevalueCheck = selectedValue[3];
                        const productQty = selectedValue[2];
                        var newNameValue = namevalueCheck + '                             '+ productQty;
        
                        $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-product"]`).val(item_value);
                        $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-products"]`).val(newNameValue);
                        $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-product_quantity_transfer"]`).focus();

                            const productColor = selectedValue[1];
                            
                            const productRefId = selectedValue[4];
                            const productUnit = selectedValue[5];


                            var productcolorinput = document.querySelector('#id_stock_color_' + purchaseValue);
                            var productQtyinputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_quantity_transfer');
                            var productSkuInputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_sku');                    
                            var productRefNoValue = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_refNo');
                            var UnitsValue = document.getElementById('id_stock_per_' + purchaseValue );
                            productcolorinput.value = productColor;
                            // productQtyinputs.value = productQty ;
                            productSkuInputs.value = item_value;
                            productRefNoValue.value = productRefId;
                            UnitsValue.value =productUnit;
                        }


                        enterPressed = true;
                        hiddenValue.css("display" ,"none");
                        $inputField.blur();
                    }
                    if (event.key === 'Tab' && enterPressed) {
                    enterPressed = false; // Reset Enter key handling
                    return true; // Allow default Tab behavior
                    }
                })
        }
    })

document.addEventListener("DOMContentLoaded", function () {
      const table = document.getElementById("mainProductForm ");

      if(table !== null){
        table.addEventListener("keydown", function (event) {
        if (event.key === "Enter" && target.tagName === "INPUT" ) {
            event.preventDefault(); // Prevent form submission
            console.log(`Enter key prevented on input: ${event.target.id}`);
    
        }
    });  
      }
    
    
        inputCheck()
   
});

function inputCheck() {
    const itemNameInputs = document.querySelectorAll('[name$="-products"]');
    const productInvoiceId = document.getElementById('id_finished_goods_transfer_records_set-0-ids').value;
    const sourceGodown = document.getElementById('id_source_warehouse');
    const destinationGodown = document.getElementById('id_destination_warehouse');
    var tableRows = document.querySelectorAll('#mainProductForm .mainTableList tr');

    sourceGodown.addEventListener('keydown',function(event){
        if(event.key === 'Tab'){
            event.preventDefault();
            if(sourceGodown.value === ''){
                sourceGodown.focus()
            }else{
                destinationGodown.focus()
            }
        }
    })
    destinationGodown.addEventListener('keydown',function(event){
        if(event.key === 'Tab'){
            event.preventDefault();
            if(destinationGodown.value === ''){
                destinationGodown.focus();
            }else{
                var tableRow = document.querySelectorAll('#mainProductForm .mainTableList tr');
            for (let row of tableRow) {
                var itemInput = row.querySelector('[name$="products"]');
                var qtyInput = row.querySelector('[name$="-product_quantity_transfer"]');

                if (itemInput && itemInput.value === '') {
                    itemInput.focus();
                    return; 
                } 
                // Check if quantity is empty, then focus on it
                else if (qtyInput && qtyInput.value === '') {
                    qtyInput.focus();
                    return; 
                }
            }
            }
        }
    })
    itemNameInputs.forEach((input, index) => {
        if (input) {
            input.addEventListener("keydown", function (event) {
                const closestRow = input.closest('tr');
                const qtyInput = closestRow.querySelector('[name$="-product_quantity_transfer"]');

                // Check if the invoice ID is 'None' and handle accordingly
                if (productInvoiceId === 'None') {
                    // On 'Tab' or 'Enter', navigate focus
                    if (event.key === "Tab" || event.key === "Enter") {
                        event.preventDefault(); // Prevent default behavior

                        // If product input is not empty
                        if (input.value.trim() !== "") {
                            if (qtyInput) {
                                qtyInput.focus(); // Focus on the quantity input
                            }
                        } else {
                            input.focus(); // Refocus on the current input if empty
                        }
                    }
                }
            });
        }
    });

    tableRows.forEach(function(row ,index){
        var qty = row.querySelector('[name$="-product_quantity_transfer"]');
        if(qty){
            qty.addEventListener('keydown', function (event) {
                if (event.key === "Tab") {
                    event.preventDefault(); // Prevent default tabbing behavior

                    if (qty.value === '') {
                        // If rate is empty, focus on the rate field itself
                        qty.focus();
                    } else {
                        var nextRow = tableRows[index + 1];;
                        // console.log('nextRow',nextRow)
                        if (nextRow) {
                            var nextItemInput = nextRow.querySelector('[name$="products"]');
                            console.log('nextRow',nextItemInput)
                            if (nextItemInput && nextItemInput.value === '') {
                                nextItemInput.focus();
                            } else {
                                var nextQtyInput = nextRow.querySelector('[name$="-product_quantity_transfer"]');
                                if (nextQtyInput) {
                                    nextQtyInput.focus();
                                }
                            }
                        } else {
                        
                            var AddElement = document.getElementById('addRowButton');
                            if (AddElement) {
                              AddElement.focus();
                                
                               
                            }
                        }
                    }
                }
            });
        }
    })
}

inputCheck()
  </script>

{% endblock body %}