{% extends 'product/base.html' %}
{% load static %}

{% block body %}
<!-- <form action="" method = 'POST'>
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>

{% for bin in bin_list %}
  <p>{{bin}}</p>
  <a href="{% url 'update-bin-for-raw-material' bin.id %}">Edit</a>
{% endfor %} -->


<div class="row mt-4">
  <div class="col-lg-5">

    <form action="" method="POST" id="rawMaterialBinForm">
      {% csrf_token %}
      <div class="d-flex">
        <label for="id_bin_name" class="item-form fw-bold">Raw Material Bin :</label>
        <input type="text" class="item-selects" value="{{ form.instance.bin_name }}" name="bin_name" maxlength="255" required id="id_bin_name">
      </div>
      <button type="submit" id="submitButtonFabricGroup" class="create-btn mt-4" name="save" value="Save">Save</button>
    </form>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-flex mb-3">
          <form method="GET">
            <div class="container-category ">
              <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="fabric_group_search" value="{{fabric_group_search | default_if_none:''}}" />
              <input type="submit" class="mx-2"></input>
            </div>
          </form>
          <button class="item-btn mx-2" onclick="redirecfabricFilter()">Clear Filter</button>
        </div>
      </div>
    </div>
    <div class="row ps-3">
      <div class="col-lg-12">
        <div class="table-responsives">
          <table class="table table-striped table-hover table-bordered">
            <thead class="name_absolute sticky-top">
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
              </tr>
              {% for bin in bin_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{bin}}</td>
                <td><a href="{% url 'update-bin-for-raw-material' bin.id %}"><i class="fa-solid fa-pen-to-square px-1"></i></a></td>
                <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ bin.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-text">
          Are you sure you want to delete this Raw Material Bin ?
        </div>
        <div class="modal-footer">
          <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
          <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  document.body.appendChild(document.getElementById('exampleModal'));
  document.addEventListener("DOMContentLoaded", function () {
    window.onload = function() {
        document.getElementById("id_fab_grp_name").focus();
    };
  })
  $(document).ready(function () {
    $('#rawMaterialBinForm').on('submit', function () {
      $('#submitButtonFabricGroup').attr('disabled', 'disabled').val('Saving...');
    });
    $('.delete-btn').click(function () {
      var itemId = $(this).data('item-id');
      var name = $(this).closest('tr').find('td').eq(1).text();
      var coloredName = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';
      $('#modal-body-text').html('Are you sure you want to delete the Raw Material Bin ' + coloredName + '?');
      $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
      $('#confirmDeleteModal').modal('show');
    });

    // Confirm delete button click event
    $('#confirmDeleteButton').click(function () {
      var itemId = $(this).data('item-id');
      // Redirect to delete view
      window.location.href = '//' + itemId;
    });
  });

  function redirecfabricFilter() {
    window.location.href = "{% url 'create-bin-for-raw-material'%}"
  }
</script>
{% endblock body %}